* {
    outline: 1px black;
    border: 1px gray;
}
html{
scroll-behavior: smooth;
    height: auto;
}

:root{
    --primary: rgb(243, 239, 226); 
    --HEADER-BGCOLOR: #e8e8e0; 
    --HEADER-H1-BGCOLOR: #d8d1b2;
    --HEADER-H1-LINK-COLOR: #1c1d20; 
    --NAV--LINK-COLOR: #c7be92;
    --NAV--LINK-BORDER-BOTTOM: #565858;
    --NAV--LINK-HOVER: rgba(255, 255, 255, 0.25);
    --HERO-H2-BGCOLOR: #c7be92;
    --HERO-H2-COLOR: #1c1d20; 
    --SECTION-H2-COLOR: #c7be92; 
    --SECTION-BORDER: #1c1d20; 
    --PORTFOLIO-LINK-COLOR: #c7be92; 
    --IMAGE-BORDER: #1c1d20; 
    --PRE-CAPTION: #c7be92;
    --BOTTOM-LINK-COLOR: #1c1d20; 
    --BOTTOM-LINK-HOVER: #c7be92;
    --BODY-FONT-FAMILY: "Trebuchet MS", "Lucida Sans Unicode"
}

.topNav {
    display: flex;
    list-style: none;
}

.topNav li {
    padding: 5px;
}

.topNav a {
    color: (var(--NAV--LINK-COLOR));
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 4px solid (--NAV--LINK-BORDER-BOTTOM);
    cursor: pointer;
}


header nav {
    padding-right: 5%;
}

li {
    display: list-item;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

header {
    background-color: var(--HEADER-BGCOLOR);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
    position: relative;
}

header h1 {
    background-color: var(--HEADER-H1-BGCOLOR);
    font-size: 60px;
    line-height: normal;
    padding: 0 60px 0 5%;
    text-align: center;
}

header h1 a {
    text-decoration: none;
    color: #303238;
}

section {
    display: block;
}

.page-section {
    border-right: 4px solid (--SECTION-BORDER);
    font-size: 60;
    text-align: end;
    padding-right: 15px;
}

.profile {
    width: 30%;
    margin: 0 2% 1% 0;

    float: left;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    overflow: clip;
}

p{
    display: block;
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 2;
    flex-wrap: wrap;
    text-align: center;
    white-space: pre-line;
   
}

body {
    font-family: sans-serif;
    line-height: 1;
    background-color: var(--primary);
    margin: 5px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.60em;
    margin-block-end: 0.60em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    margin-top: -20px;
    width: 50%;
    text-align: right;

    border-radius: 10%;
    padding: 10px;

    font-size: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-align: center;
    display: relative;
    margin-top: -20px;
    width: 50%;
    border: solid var(--tertiary);
    border-radius: 10%;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: var(--BOTTOM-LINK-COLOR);
    background-color: var(--primary);
}

h4 {
    text-align: center;
    display: relative;
    margin-top: -10px;
    width: 50%;
    border: solid var(--tertiary);
    border-radius: 10%;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: var(--BOTTOM-LINK-COLOR);
    background-color: var(--primary);
}

div {
    display: block;
}

.container {
    width: 90%;
    margin: 40px auto 0px auto;
    display: block;
    padding-bottom: 115px;
    grid-template-columns: 15% 65%;
    gap: 4%;
}

main{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: -500rem;
    position: relative;

}

#portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 410px 210px 210px;
    gap: 20px;
}

section {
    width: 100%;
    position: relative;
    border: 15px solid (--IMAGE-BORDER);
    display: block;
    margin-block-start: 0.85em;
    margin-block-end: 0.85em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    flex: 1 0 400px;
    margin: 35px;
    padding: 40px;
    width: 40%;
    align-items: center;
    min-width: 300px;
    border-radius: 4%;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background-color: antiquewhite;
}

:any-link{
    cursor: pointer;
    text-decoration: none;
}

pre {
    color: var(--BOTTOM-LINK-COLOR);
    text-align: center;
    margin: 0px;
    width: 100%;
    background-color: #625143;
    justify-content: left;
    display: block;
    flex-direction: column;
}

.box:hover{
    border-style: solid;
    box-shadow: 5px 5px 10px  #F1E1D4;
}

footer{
    bottom: 0;
    border-top: 10px solid var(--custum-hf-border-color);
    padding-top: 10px;
    height: 60px;
}

.info {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: auto;
    margin-right: auto;
    min-width: 50%;
    width: 85%;
    height: 130px;
    padding: 10px;
    background-color: (var(--HEADER-BGCOLOR));
    justify-content: left;
    flex-direction: column;
}

ul.bottomNav {
        height:200px;
        min-height: calc(100vh - 20rem);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 50px;
        padding: 30px;
}

.bottomNav a {
    color: #1c1d20;
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
    padding: 5px;
    text-decoration: underline;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    header {
        background-color: var(--HEADER-BGCOLOR);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }
    }
@media screen and (max-width: 900px) {
        header h1 {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
    }
    }    
@media screen and (max-width: 900px) {
    .topNav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
    }
    }    

@media screen and (max-width: 900px) {
    .topNav a {
        color: #303238;
        font-size: 18px;
        border-bottom: 3px solid var(--NAV--LINK-BORDER-BOTTOM);
        padding: 0 5px 0px 5px;
        display:flex;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {
    ul.bottomNav {
        padding: opx;
        flex-direction: column;
        align-items: center;
    }
} 
@media screen and (max-width: 900px) {
    .bottomNav a {
            padding: opx;
            flex-direction: column;
            align-items: center;
        }
}
    
@media screen and (max-width: 900px) {
    main {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: -500rem;
    align-items: center;
    }
}

@media screen and (max-width: 900px) {
    header nav {
        padding-right: 0;
    
}
}

@media screen and (max-width:900px) {
    h3 {
        text-align: center;
        display: relative;
        margin-top: -20px;
        width: 50%;
        border: solid var(--tertiary);
        border-radius: 10%;
        margin-top: -17px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

    }
    
}

@media screen and (max-width:900px) {
    h4 {
        text-align: center;
        display: relative;
        margin-top: -20px;
        width: 50%;
        border: solid var(--tertiary);
        border-radius: 10%;
        margin-top: -10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;

    }
    
}

@media screen and (max-width: 900px) {
.container {
    width: 95%;
    margin: 40px auto 0px auto;
    display: grid;
    grid-template-columns: 100%;
}
    
}

@media screen and (max-width: 900px) {
    .page-section {
        border-right: 0;
        border-bottom: 4px solid (--SECTION-BORDER);
        font-size: 60px;
        text-align: end;
        padding-right: 15px;
    }
}

@media screen and (max-width: 900px) {
    #portfolio {
        width:100%;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 200px 200px 200px;
        grid-template-areas: "box-1" "box-2" "box-3" "box-4";
    }
    
}

@media screen and (max-width: 900px) {
    .box {
        display: flex;
        flex-direction: column;
        flex: 1 0 400px;
        margin: 35px;
        padding: 40px;
        width: 40%;
        align-items: center;
        min-width: 300px;
        border-radius: 4%;
        height: 100%;
        background-color: antiquewhite;
        white-space: pre-line;
    }
    
}

@media screen and (max-width: 900px) {
    pre {
    color: var(--BOTTOM-LINK-COLOR);
    text-align: center;
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 900px) {
    .info {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-top: auto;
        margin-right: auto;
        min-width: 50%;
        width: 85%;
        height: 130px;
        padding: 10px;
        background-color: (var(--HEADER-BGCOLOR));
        justify-content: left;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}